.section {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  order: 2;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  list-style: none;
}

.content .h1 {
  font-size: 3.2rem;
  font-style: oblique;
  font-family: 'Sansita Swashed', cursive;
}

.content .p {
  font-size: 2.2rem;
  font-family: cursive;
  text-align: justify;
  max-width: 50rem;
  margin-right: 1rem;
}

@media (max-width: 520px){
  .section {
    display: flex;
    flex-direction: column;
  }

}