@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8rem;
    margin-top: 5rem;
    border-top: .2rem solid black;
    background: linear-gradient(90deg, #E1E3D7, #F0FEFE);
}

.nav > div{
    font-size: 3.5rem;
    margin: 0 4%;
    color: black;
}

.nav > div:hover {
    color: green;
    cursor: pointer;
    transform: scale(1.3);
}