@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8rem;   
    border-top: .2rem solid black;
    background-color: #011F51;

    margin-top: 5rem;
}

.nav > a {
    font-size: 3.5rem;
    margin: 0 4%;
    color: #fff;
    filter: drop-shadow(0 0 .5rem #00b9ff);
}

.nav > a:hover {
    color: var(--main-color3);
    cursor: pointer;
    transform: scale(1.3);
}