.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0; 
    z-index: 1000;
    height: 10vh;
    width: 100vw;
    font-size: 2.5rem;
    background-color: #011F51;
    color: var(--main-color2);
}

.nav > div {
    display: flex;
}

.nav .center {
    position: relative;
    cursor: pointer;
    font-weight: 600;
    opacity: .8;
}

.nav .left > div,
.nav .right > div {
    margin: 1rem;
}

.nav .left > div:hover,
.nav .right > div:hover {
    border-bottom: .2rem solid salmon;
    transition: 2s ease-in-out;
    cursor: pointer;
}

@media (max-width:425px){
    .nav .left > div,
    .nav .right > div {
        margin: .5rem;
    }   
}