.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0; 
    z-index: 1000;
    height: 10vh;
    width: 100vw;
    font-size: 2.5rem;
    background-color: rgba(240, 248, 255);
    font-style: italic;
}

.nav > div {
    display: flex;
}


.nav .center {
    position: relative;
    cursor: pointer;
    font-weight: 600;
    opacity: .8;
}

.nav .center::before,
.nav .center::after {
    content: 'HOME';
    position: absolute;
    top: 0; left: 0;
    color: #fff;
    z-index: -1;
}

.nav .center::before {
    transform: translate(-.5rem, -.5rem);
    text-shadow: .1rem .1rem .5rem #9901ff;
    opacity: 1;
}

.nav .center::after {
    transform: translate(.5rem, .5rem);
    text-shadow: .5rem .5rem .5rem #cf0c0c;
    opacity: 1;
}

.nav .left > div,
.nav .right > div {
    margin: 1rem;
}

.nav .left > div:hover,
.nav .right > div:hover {
    border-bottom: .2rem solid salmon;
    transition: 2s ease-in-out;
    cursor: pointer;
}

@media (max-width:425px){
    .nav .left > div,
    .nav .right > div {
        margin: .5rem;
    }   
}