.title_category {
  text-align: center;
  text-shadow: 2rem 1.2rem .5rem #9901ff;
  opacity: .9;
  font-size: 3rem;
  margin-top: 10rem;
  margin-bottom: 0;
}

.body {
  
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 75vw;
}

.container .caroussel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.container .caroussel::-webkit-scrollbar {
  display: none;
}

.container .caroussel .item {
  margin: 1rem;
  padding: 1rem;
  width: 27rem;
  flex: none;
  background-color: azure;
  border-radius: 1.2rem;
  border: .1rem solid black;
  list-style: none;
}

.container .caroussel .item li > img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

.container .caroussel .item .name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 2rem;
  height: 10rem;
}

.container .arrows {
  display: flex;
  justify-content: center;
  width: 100%;
  
}

.container .arrows > *{
  border: none;
  cursor: pointer;
  background-color: transparent;
  margin: .5rem 1rem;
}

.container .arrows .arrow_right:hover,
.container .arrows .arrow_left:hover {
  transform: scale(1.1);
}