.section {
  color: black;
  margin-top: 9vh;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.content .h1 {
  font-size: 3.2rem;
  font-style: oblique;
  font-family: 'Sansita Swashed', cursive;
}

.content .p {
  font-size: 2.7rem;
  font-family: cursive;
  text-align: center;
  max-width: 50rem;  
}

.aside {
  max-width: 100%;
  border: .1rem solid yellow;
  margin: 16rem auto;
  text-align: center;
}

.aside .ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.aside .ul .li {
  min-height: 30vh;
  /*flex: esticar<bool> encolher<bool> largura-base<un>*/
  flex: 0 1 32rem; 
  margin: 1rem auto;
  border: .1rem solid red;
  list-style: none;
  font-size: 2.2rem;
}

.aside .ul .li .img {
  border: .1rem solid palegreen;
  margin: 2rem 0 0;
  width: 22rem;
  height: 32rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

@media (max-width:768px) {
  .aside .ul .li {
    width: 30rem;
  }

  .aside .ul .li .img {
    width: 28rem;
    height: 38rem;
  }
  
}

@media (max-width: 520px){
  .section {
    display: flex;
    flex-direction: column;
    height: max-content;
    top: 0;
  }

  .content .h1 {
    position: absolute;
    top: 6vh;
  }

  .aside .ul .li .img,
  .aside .ul .li {
    margin-bottom: 2.5rem;
  }
}