.container {
    margin-top: 10vh;
    height: max-content;
    background-color: #EBF3F8;
}

.nav .category {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 4rem 0 0;
}

.nav .category li > button {
    padding: .75rem 1.5rem;
    margin-top: 5rem;
    color: #011F51;
    background-color: var(--main-color3);
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 900;
    opacity: .8;
  }
  
  .nav .category li > button:hover {
    opacity: 1;
    color: #fff;
    filter: drop-shadow(0 0 .2rem #00b9ff);
  }
  


.section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    max-width: 100rem;
    margin: 0 auto -5rem;
}

.section .item {
    margin: 0 auto;
    padding: 1rem;
    width: 32rem;
    background-color: #fff;
    border-radius: 1.2rem;
    border: .1rem solid rgba(0, 0, 0, 0.63);
    list-style: none;
    transform: scale(.8);
  
    box-shadow: 1.3rem 1rem 1rem .2rem rgba(0,0,0,0.75);
    -webkit-box-shadow: 1.3rem 1rem 1rem .2rem rgba(0,0,0,0.75);
    -moz-box-shadow: 1.3rem 1rem 1rem .2rem rgba(0,0,0,0.75);
}

.section .item li > * {
    border-radius: .5rem;
}

.section .item li:nth-child(2) > h3 {
    font-size: 2.3rem;
    text-transform: uppercase;
    text-align: center;
}

.section .item li:nth-child(3) > span {
    font-size: 1.9rem;
    line-height: 2.4rem;
}

.container_wave {
    height: 5rem; /* change the height of the waves here */
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
}

.wave {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23003F7C'/%3E%3C/svg%3E");
    position: absolute;
    width: 200%;
    height: 100%;
    animation: wave 20s linear infinite;
    opacity: 0.6;
}


.wave:nth-child(2) {
    bottom: 0;
    animation: wave 25s linear reverse infinite;
    opacity: 0.4;
}
  
.wave:nth-child(3) {
    bottom: 0;
    animation: wave 32s linear infinite;
    opacity: 0.3;
}
  
@keyframes wave {
    0% {transform: translateX(0);}
    50% {transform: translateX(-25%);}
    100% {transform: translateX(-50%);}
}
  
@media (max-width:768px) {

    
.section .item li:nth-child(2) > h3 {
    font-size: 2.25rem;
    text-align: center;
}

.section .item li:nth-child(3) > span {
    font-size: 2.4rem;
    
    line-height: 3rem;
}
}

@media (max-width:425px) {
    
.section {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.section .item {
    flex: 1 1 22rem;
    
}

}