.section {
  color: black;
  margin-top: 9vh;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.content .h1 {
  font-size: 3.2rem;
  font-style: oblique;
  font-family: 'Sansita Swashed', cursive;
}

.content .p {
  font-size: 2.7rem;
  font-family: cursive;
  text-align: center;
  max-width: 50rem;  
}

@media (max-width: 520px){
  .section {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    height: max-content;
    top: 0;
  }

  .content .h1 {
    position: absolute;
    top: 7rem;
  }
}