.break {
    height: 5vh;
    width: 100%;
    margin: 10rem 0;    
}

.break > hr {
    border: none;
    height: .7rem;
    width: 80%;
    background-image: linear-gradient(to right, transparent, rgba(44, 42, 177, 0.308), transparent); 
}

@media (max-width:780px) {
    .break {
        margin: 5rem 0;
    }
}